In [ ]:
--crear base de datos

CREATE DATABASE uni;

In [ ]:
--crear tabla Estudiante y insertar datos

use uni;
CREATE TABLE Estudiante (
    ID_Std INT(11) NOT null AUTO_INCREMENT PRIMARY KEY,
    Nombres VARCHAR(60) Not null,
    Apellidos VARCHAR(60) not null,
    fecha_n DATE not null,
    ID_Direccion INT,
    correo_electronico VARCHAR(100) not null,
    telefono numeric (11) not null ,
    FOREIGN KEY (ID_Direccion) REFERENCES Direccion(ID_Direccion)
);

    --insertar datos

INSERT INTO Estudiante (ID_Std,Nombres, Apellidos, fecha_n ,ID_Direccion, correo_electronico,telefono)VALUES
(1,'Carlos', 'López', '1999-10-22',1,'nombrefalso1@gmail.com','04244359507'),
(2,'María', 'Rodríguez', '2001-03-08',2, 'nombrefalso22@hotmail.com', '04123234567');

In [ ]:
--crear tabla Curso y insertar datos 

use uni;
CREATE TABLE Curso (
    ID_Curso INT(11) not null auto_increment PRIMARY KEY,
    Nombre_curso VARCHAR(60) not null,
    creditos  VARCHAR(3) not null,
    descripcion  VARCHAR(300) not null
);

--insertar valor 

INSERT INTO Curso (Nombre_curso, creditos, descripcion) VALUES
('Programación', '3', 'Curso de programacion.'),
('Matemáticas', '4', 'curso de matematicas.');

In [ ]:
--crear tabla Inscripcion y relacionarla con la tabla Estudiante y Curso 
use uni
CREATE TABLE Inscripcion (
    ID_Inscripcion INT(11) not null AUTO_INCREMENT PRIMARY KEY ,
    ID_Std INT not null,
    ID_Curso INT not null,
    Fecha_Inscripcion DATE not null,
    FOREIGN KEY (ID_Std) REFERENCES Estudiante(ID_Std),
    FOREIGN KEY (ID_Curso) REFERENCES Curso(ID_Curso)
);

--insertar valor 

INSERT INTO Inscripcion (ID_Inscripcion, ID_Std, ID_Curso,Fecha_Inscripcion) VALUES
('5', '1', '1.','2025-01-03'),
('6', '2', '2','2025-02-04');

In [ ]:
--crear tabla Estado

CREATE TABLE Estado (
    ID_Estado INT PRIMARY KEY,
    Estado VARCHAR(50)
);

--insertar valor

INSERT INTO Estado (ID_Estado, Estado) VALUES
(1, 'Carabobo'),
(2, 'Carabobo');

In [ ]:
--crear tabla ciudad

CREATE TABLE Ciudad (
    ID_Ciudad INT PRIMARY KEY,
    Ciudad VARCHAR(50),
    ID_Estado INT,
    FOREIGN KEY (ID_Estado) REFERENCES Estado(ID_Estado)
);

--insertar valor

INSERT INTO Ciudad (ID_Ciudad, Ciudad, ID_Estado) VALUES
(1, 'Valencia', 1),
(2, 'Los Guayos', 2);

In [ ]:
--crear tabla direccion

CREATE TABLE Direccion (
    ID_Direccion INT PRIMARY KEY,
    calle VARCHAR(100),
    ID_Ciudad INT,
    FOREIGN KEY (ID_Ciudad) REFERENCES Ciudad(ID_Ciudad)
);

--insertar valor

INSERT INTO Direccion (ID_Direccion, calle, ID_Ciudad) VALUES
(1, 'J', 1),
(2, 'C', 2);